.nav_container{
  background-color:transparent;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: max-content auto max-content;
  grid-template-areas: "navlogo nav_items ";
  justify-items: stretch;
  align-items: stretch;
  column-gap: 3.5rem;
  
  
}
.navlogo{
  grid-area: navlogo;
  margin-left: 2rem;
  
}

.nav_items ul{
  grid-area: nav_items;
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 4rem;
  font-size: 1.5rem;
  list-style: none;
  
}