.video-containerfull{
  padding: 1rem 0rem 1rem 0rem;
  padding-top: 60%;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  
}


.videocard video{
  border-radius: 5px;
}

/* .videocard {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    
} */