.fullcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this if you want the container to be smaller or larger */
}

.headings2 {
  text-align: center;
}

.button1{
  margin-right: 3rem;
}

.video-section {
  margin-top: 20px; /* Adjust the margin between sections */
  display: flex;
  justify-content: center;
  width: 80%; /* Adjust the width of the container */
  max-width: 800px; /* Set a maximum width if needed */
}

/* Additional styling for the video container to maintain 16:9 aspect ratio */
.video-section video {
  width: 100%; /* Set width to 100% to fill the container */
  max-width: 100%; /* Ensure the video doesn't exceed the container width */
  height: auto; /* Maintain aspect ratio */
}

